{% extends 'base.html' %}

{% block content %}

<form method='POST' action=''>
{% csrf_token %}
<h1>{{ instance.text }}</h1>
<input type='hidden' name='question_id' value='{{ instance.id }}'/>

<h3>Your Answers</h3>
{% for ans in instance.answer_set.all %}
<li><input type='radio' name='answer_id' value='{{ ans.id }}'/>{{ ans.text }}</li>
{% endfor %}

</br>
Importance: {{ form.importance_level }}

<h3>Their ideal Answers</h3>
{% for ans in instance.answer_set.all %}
<li><input type='radio' name='coworker_answer_id' value='{{ ans.id }}'/>{{ ans.text }}</li>
{% endfor %}

<li><input type='radio' name='coworker_answer_id' value='-1'/>Doesn't matter at all.</li>

</br>
IMPORTANCE: {{ form.coworker_importance_level }} </br>

<input type='submit' value='Save and Continue'/>
</form>

{% endblock %}